body {
  margin: 0;
  text-align: center;
  text-decoration: 2;

}

h1 {
  margin-top: 0;
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 40px;
}

h2 {
  color: blue;
  font-weight: normal;

}


h3{ color: black;}
p {
  color: black;
  font-family: 'arial', cursive;
}
a{ color: orange;
font-family: 'arial', cursive;
margin: 20px 10px;
text-decoration: none;}

a:hover{ color: blue;}

hr {border: dotted 6px;
  color: #7882A4;
  border-bottom: none;
width: 5%;
}

.top-container {
  background-color: #1572A1;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: 100px;
  background-color: #90E0EF;
font-family: 'arial', cursive;}
.bottom-container{
  margin: 100px auto 100px auto;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 300px;
}
.skills{width: 50%;
margin: 100px auto 100px auto;}

.skill-row-second{padding-top: 100px;}

.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: arial;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 100px auto 100px auto;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.Digital-Marketing-img{float:left;
margin-left: 20px;
margin-top: 30px;}

.web-Development-img{float: right;
margin-right: 20px;
margin-top: 30px;}
